@font-face{
  font-family: Anita;
  src: url(../assets/font/Anita\ semi\ square.ttf);

}

 
@import "../css/paleta.css";


.contain{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
overflow-y: scroll;
scroll-snap-type: y mandatory;
  overflow: hidden;

}
/**personalizar scrollbar*/

.contain::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  display: none;
  background: rgba(204, 204, 204, 0);
  border-radius:  4px;
}

.contain::-webkit-scrollbar-thumb {
background: rgb(221, 239, 250);
border-radius: 4px;
}

.contain::-webkit-scrollbar-thumb:hover {
background: #d71ff0;
box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.contain::-webkit-scrollbar-thumb:active {
background: #d71ff0;
}

.contain::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.contain::-webkit-scrollbar-track:hover,
.contain::-webkit-scrollbar-track:active {
background: #d4d4d4;
}
/**fin de la personalización del scrollbar*/

.Menu {
display: flex;
flex-direction: row;
background-color: var(--main-menu);

height: 50px;
color: rgb(29, 29, 29);

position: fixed;
left: 0;
right: 0;

overflow: hidden;

justify-content: space-between;
}
.Title{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  padding: 0;
  overflow: hidden;
  color: var(--main-title);
  font-size: 35px;
  font-family: Anita;
  font-weight: 900;

  
}



.Option {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-right: 20px;
  padding-top: 5px;
}

.Option li {
  float: left;
  overflow: hidden;
  justify-content: center;
}

.Option li a {
  display: flex;
  color: var(--main-title);
  text-align: center;
  padding: 8px;
 font-size: 18px;
 
font-weight: 500;
  text-decoration: none;
  
  justify-content: center;
  align-self: center;
  
}

.Option li  a:hover {
  background-color: var(--active-menu);
  color: white;
  transition: .5s ;
  
  

}
 

.Option li .activeOp {
  background-color: var(--active-menu);
  color: #ebebeb;
  
 
}
.ItemTitle{
  display: flex;
  flex-direction: row;
}
.Logo{
width: 50px;
height: 50px;
animation-iteration-count: infinite;
animation-duration: 30s;
animation-name:rotate;
}
/** final del menu*/
/** animacions */

@keyframes visible {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes visibles {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateX(-0px);
  }
}
@keyframes rotate{
  from{
    transform: rotate(0deg);
    
  }
  to{
   transform: rotate(360deg);
   
  }
}

/** final de las animaciones*/

html{
  scroll-behavior: smooth;
  
}




.Quienes {
  height: 100vh; 
  width: 100vw;
  
 
  background-image: url("../assets/img/Grupo 21.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
  background-position-x:100%;

 display: flex;
 flex-direction: row;

scroll-snap-align: start;
  
  
  
  
}
.QuinesActive {
  background-image:linear-gradient(45deg,#2D5FA9,#1C284D);
  color: #ffffff;
 
}
.SeccQuienes{
height: 100%;
width:  50%;
display: grid;
place-items: center;
justify-content: center;
align-content: center;

}
.SeccQuienes div{
  width: 70%;

align-items: center;
justify-content: center;
align-content: center;

}
.SeccLogo {
  height: 100%;
width:  50%;
padding: 5px;
display: grid;
place-items: center;

}


.img1{
  width: 100%;
  height: auto;

  }
.Producto{

 background-image: url("../assets/img/Grupo 22.png");
 background-repeat: no-repeat;
 background-size: cover;
 background-position-y: 100%;
 background-position-x:100%;
 padding-top: 20px;
  min-height: 90vh;
  
  display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
scroll-snap-align: center;

}

.Servicios{
  
  background-image: url("../assets/img/Grupo 23.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
  background-position-x:100%;
  color: white;
  min-height: 100vh;
  scroll-snap-align: center;
  display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
 
}
.Contactos{
  background-image: url("../assets/img/Grupo 24.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
  background-position-x:100%;
  scroll-snap-align: end;
  color: var(--main-texto);
  min-height: 100vh;
  
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.SeccTitle{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: var(--main-title);
  text-align: left;
 /** background-color: rgba(255, 255, 255, 0.37);
  border-radius: 5px;
  backdrop-filter: blur(2px);*/

}

.SeccDesc{
  font-weight: 400;
  font-size: 18px;
  top: 0;
  
  color:var(--main-texto);
  text-align: left;
}

.SeccTitle1{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: var(--main-title);
  margin-bottom: 10px;
  /*
animation-iteration-count: infinite;
animation-delay: 2;
  animation-name: visible;
animation-duration: 4s;*/
 
}
.Desc{
  color:var(--main-texto);
  font-size:  20px;
  width: 98%;
}

.containCon{
  display: flex;
  
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
 
  }
  .seccCon{
   
  width: 100px;
  height: 150px;
  background-color: #eeeeee00;
  /*background-image:  linear-gradient( 45deg, rgb(25, 202, 149), rgb(6, 43, 110) );
  */
  margin: 20px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  align-content: center;
  
  
  }
  .DerechoReservado{
    margin-bottom: 0;
    align-self:center;
    
  }

  .ButtonMenu{
padding: 10px;
cursor: pointer;
float: right;
display: none;
  }

  @media  screen and (max-width: 750px )  {
    .Quienes{
      background-image: url(../assets/img/Group26.png);
      background-size: cover;
      background-position-y: 100%;
      background-position-x: 100%;
      background-repeat: no-repeat;
     min-height: 100vh;
 
  display: flex;
  
flex-direction: column;
align-items: flex-end;
align-content: center;
justify-content: center;
    }
    .Producto{
     background-image: url(../assets/img/Group27.png);
     background-size: cover;
     background-position-y: 100%;
     background-position-x: 100%;
     background-repeat: no-repeat;
    
    }
    .Servicios{
     background-image: url(../assets/img/Group26.png);
     background-size: cover;
     background-position-y: 100%;
     background-repeat: no-repeat;
    }
    .Contactos{
     background-image: url(../assets/img/Group26.png);
     background-size: cover;
     background-position-y: 100%;
     background-repeat: no-repeat;
    }
 
   
    .SeccQuienes{
    height: 40%;
    width:  100%;
    
    
    justify-content: center;
  
    
    
    }
    .SeccLogo {
      
    height: 40%;
    width: 100%;
  
    
    display: grid;
    place-items: center;


    
    }
    .img1{
      top: 0;
      height: 300px;
      width: auto;
    }
    .Logo{
      height: 50px;
      width: 50px;
    
    }
   
    .ButtonMenu{
      padding: 10px;
      cursor: pointer;
      float: right;
      display: initial;
        }
        
        .OptionShow{
          position: fixed;
          width: 60%;
          background-color: var(--side-bar);
          
          padding-top: 50px;
          height: 100%;
          display: flex;
          flex-direction: column;
          right: 0;
          margin-right: 0;
          text-align: center;
          transition: .5s;

        }
        .Option li a{
          color: white;
        }
        
       
        .OptionHide{
         display: none;

        }
  }
  @media  screen and (max-width: 400px ) {
   
   
    .SeccQuienes{
    height: 60%;
    width:  100%;
    
    align-self: center;
    justify-content: center;
    
    }
    .SeccLogo {
    height: 40%;
  
    width:  100%;
    display: grid;
    place-items: center;
 
    
    }
    .img1{
      height: 200px;
      width: auto;
    }
    .Logo{
      height: 50px;
      width: 50px;
    
    }
    .ButtonMenu{
      padding: 10px;
      cursor: pointer;
      float: right;
      display: initial;
        }
        .Menu{
          background-color: var(--main-menu);
        }
       
        
        
        .OptionShow{
          position: fixed;
          width: 60%;
          background-color: rgb(32, 32, 32);
          padding-top: 60px;
          height: 100%;
          display: flex;
          flex-direction: column;
          right: 0;
          margin-right: 0;
          text-align: center;
          transition: .5s;

        }

        .OptionHide{
         display: none;

        }
        .Quienes{
          background-image: url(../assets/img/Group26.png);
          background-size: cover;
          background-position-y: 100%;
          background-repeat: no-repeat;
          min-height: 100vh;
        }
        .Producto{
         background-image: url(../assets/img/Group27.png);
         background-size: cover;
         background-position-y: 100%;
         background-repeat: no-repeat;
        }
        .Servicios{
         background-image: url(../assets/img/Group26.png);
         background-size: cover;
         background-position-y: 100%;
         background-repeat: no-repeat;
        }
        .Contactos{
         background-image: url(../assets/img/Group26.png);
         background-size: cover;
         background-position-y: 100%;
         background-repeat: no-repeat;
        }
     
        
.Producto{
  /*background-color:  var(--main-fondo);*/

  color: white;
  min-height: 100vh;
  padding-top: 30px;
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.Servicios{
  
  color: white;
  min-height: 100vh;
  padding-top: 20px;
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
 
}

.Contactos{
  
  color: white;
  min-height: 100vh;
  padding-top: 20px;
  display: flex;
flex-direction: column;
align-items: center;

}
.SeccTitle1{
  font-size: 28px;
}
.Desc{
  font-size: 18px;
}
        
    
  }

  
  /*
  @media  screen and  (orientation:landscape) {
    .Quienes{
      background-image: url(../assets/img/Grupo\ 21.png);
      background-size: cover;
      background-position-y: 100%;
      background-position-x: 100%;
      background-repeat: no-repeat;
     height: 100vh;
     width: 100vw;
 
  display: flex;
  
flex-direction: row;
align-items: flex-end;
align-content: center;
justify-content: center;

    }
    .SeccQuienes{
      height: 100%;
      width:  65%;
      
      
      justify-content: center;
    
      
      
      }
      .SeccLogo {
        
      height: 100%;
      width: 35%;
    
      
      display: grid;
      place-items: center;
  
  
      
      }
      .img1{
        top: 0;
        height: auto;
        width: 100%;
      }
      
.SeccTitle1{
  font-size: 26px;
}
.Desc{
  font-size: 16px;
}
  }*/