
:root{    
    --main-texto:#727070;
    --main-title:#353434;
    --main-fondoCard:#fdfdfd;
    --main-menu:#ffffff;
    --main-btnInfo:#c040d1;
    --active-menu:#f03e6a;
    --side-bar:#131313;
    --back-burger:#019796;
  }
  