
:root{    
    --main-texto:#616161;
    --main-title:#3f3f3f;
    --main-texto1:#c7c7c7;
    --main-title1:#e2e1e1;
    --main-fondoCard:#fdfdfd;
    --main-menu:#4312A0;
    --main-menu1:#4312A0;
    --main-btnInfo:#c040d1;
    --glas-card:#ffffffa9;
    --active-menu:#f03e6a;
    --side-bar:#131313;
    --back-burger:#000000;
    --fondo-fig:#2F3446;
    --color-item-menu:#ffffff;
    --color-item-menu1:#4a1079;
  }
  